<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact List - CS4241</title>
    <meta charset="utf-8" />
    <script src="js/contacts.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kanit"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <div id="parent-div">
      <div id="contactHeader" class="top-bar">
        <h1>Contacts</h1>
        <div>
          <button id="createButton" class="createButton">Create Contact</button>
          <button id="logoutButton" class="createButton">Logout</button>
        </div>
      </div>
      <div id="contactList" class="contact-list"></div>
    </div>
    <form id="contactForm" class="hidden popup-form">
      <h3>Create Contact</h4>
      <hr />
      <div class="form-spacer">
        <h5>Name</h5>
        <input type="text" id="firstName" placeholder="First Name" />
        <input type="text" id="lastName" placeholder="Last Name" />
        <h5>Contact Info</h5>
        <input type="text" id="phone" placeholder="Phone" />
        <input type="text" id="email" placeholder="Email" />
        <h5>Date of Birth</h5>
        <input type="date" id="dateOfBirth" placeholder="Birthday" />
        <h5>Address</h5>
        <input type="text" id="streetAddress" placeholder="Street Address" />
        <input type="text" id="city" placeholder="City" />
        <input type="text" id="state" placeholder="State" />
        <input type="text" id="zipCode" placeholder="Zip" />
        <hr />
        <div class="form-section-1">
          <button id="cancelButton">Cancel</button>
          <button id="submitButton" class="createButton">Create</button>
        </div>
      </div>
    </form>
    <template id="contact-card">
      <div class="contact-card">
        <div class="contact-card-header">
          <div class="name-div">
            <h3 class="contact-name" id="cardFirstName">John</h3>
            <h3 class="contact-name" id="cardLastName">Doe</h3>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Phone</th>
              <th>Email</th>
              <th>DOB</th>
              <th>Address</th>
              <th>Last Edited</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="tablePhone" width="15%"></td>
              <td id="tableEmail" width="20%"></td>
              <td id="tableDateOfBirth" width="12%"></td>
              <td id="tableStreetAddress" width="25%"></td>
              <td id="tableLastEdited" width="12%"></td>
            </tr>
          </tbody>
        </table>
        <div id="icon-div" class="icon-div">
          <button class="btn" id="editButton"><i class="fa-solid fa-pen-to-square"></i></button>
          <button class="btn" id="deleteButton"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </template>
  </body>
</html>
