<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact List - CS4241</title>
    <meta charset="utf-8" />
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kanit"
    />
  </head>
  <body>
    <div id="contactList" class="top-bar">
      <h1>Contacts</h1>
      <button id="createButton" class="createButton">Create Contact</button>
    </div>
    <form id="contactForm" class="hidden popup-form">
      <div class="vertical-box wrapper-main">
        <div class="horizontal-box">
          <img src="../images/default_profile.png" />
          <input type="file" id="photo" placeholder="Photo" class="hidden" />
          <div class="vertical-box">
            <input
              type="text"
              id="name"
              placeholder="Name"
              class="small-input"
            />
            <input
              type="text"
              id="email"
              placeholder="Email"
              class="small-input"
            />
            <input
              type="text"
              id="phone"
              placeholder="Phone"
              class="small-input"
            />
          </div>
        </div>
        <div class="vertical-box">
          <div class="vertical-box">
            <input
              type="text"
              id="address"
              placeholder="Address"
              class="big-input"
            />
            <input type="text" id="city" placeholder="City" class="big-input" />
            <input
              type="text"
              id="state"
              placeholder="State"
              class="big-input"
            />
            <input type="text" id="zip" placeholder="Zip" class="big-input" />
          </div>
          <div class="horizontal-box">
            <button id="cancelButton">Cancel</button>
            <button id="submitButton" class="createButton">Create</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
