<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact List - CS4241</title>
    <meta charset="utf-8" />
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kanit"
    />
  </head>
  <body>
    <div>
      <div id="contactHeader" class="top-bar">
        <h1>Contacts</h1>
        <button id="createButton" class="createButton">Create Contact</button>
      </div>
      <div id="contactList" class="contact-list"></div>
    </div>
    <form id="contactForm" class="hidden popup-form">
      <h4>Create Contact</h4>
      <hr />
      <div class="form-spacer">
        <h5>Photo</h5>
        <img src="../images/default_profile.png" />
        <input type="file" id="photo" placeholder="Photo" class="hidden" />
        <h5>Name</h5>
        <input type="text" id="firstName" placeholder="First Name" />
        <input type="text" id="lastName" placeholder="Last Name" />
        <h5>Contact Info</h5>
        <input type="text" id="phone" placeholder="Phone" />
        <input type="text" id="email" placeholder="Email" />
        <h5>Date of Birth</h5>
        <input type="date" id="dateOfBirth" placeholder="Birthday" />
        <h5>Address</h5>
        <input type="text" id="streetAddress" placeholder="Street Address" />
        <input type="text" id="city" placeholder="City" />
        <input type="text" id="state" placeholder="State" />
        <input type="text" id="zipCode" placeholder="Zip" />
        <hr />
        <div class="form-section-1">
          <button id="cancelButton">Cancel</button>
          <button id="submitButton" class="createButton">Create</button>
        </div>
      </div>
    </form>
  </body>
</html>
