<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact List - CS4241</title>
    <meta charset="utf-8" />
    <script src="js/register.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <form id="registerForm">
      <h3>Register</h3>
      <hr />
      <div class="form-spacer">
        <h5>Username</h5>
        <input type="text" id="regUsername" placeholder="Username" />
        <h5>Password</h5>
        <input type="password" id="regPassword" placeholder="Password" />
        <h5>Confirm Password</h5>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" />
        <hr />
        <div class="form-section-1">
          <button id="registerButton">Register</button>
          <h4 id="loginButton"><a href="/">Login</a></button>
        </div>
      </div>
  </body>
</html>
