body {
  background:#1e1e1e;
  color:#e1e1e1;
  font-family: "Kanit", sans-serif;
  text-align: right;
}
header {
  background:royalblue;
  color:#e1e1e1;
  display: block;
  text-align: center;
}

.expenseBox {
  background-color: #2e2e2e;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.expenseBox > * {
  margin: 10px;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  min-height: 100%;
  background: #2e2e2e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, tr, ts {
  text-align: center;
  border: 
}

table thead tr {
    background-color: royalblue;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 12px;
    margin: auto;
}

thead {
  display:table-header-group;
}
tbody {
  display:table-row-group;
  width: 100%;
  text-align: center;
}